@model IEnumerable<PizzaBoxMVCClient.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<p>Dear User, Kindly change URL to ".../History/Index/(yourUserID)"</p>
<h1>See Your Past Orders!</h1>
<h3>PizzaBox appreciates your past and future pizza orders. </h3>
<form method="get" asp-action="GetCustOrders" asp-controller="History">
    <input type="number" id="id" name="id" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeReceived)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Summary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeReceived)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
