@model IEnumerable<PizzaBoxMVCClient.Models.Order>

@{
    ViewData["Title"] = "Index";
}
<p>Dear User, Kindly change URL to ".../History/Index/(yourUserID)"</p>
<h1>Index</h1>
<form method="get" asp-action="Index" asp-controller="History">
    <input type="number" id="id"/>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeReceived)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if ( Model != null) 
{
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeReceived)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
}
    </tbody>
</table>
